.w-70-ns.w-100.fl-ns.pr2-ns
	h2 Experience
	ul.measure-ns#experience
		for job, name in experience
			li
				h4 #{job.title} at #{name}
				| 
				small.db.i= job.time
				p!= job.desc
	h2 Client Work
	ul.measure-ns
		for client, name in work
			if client.visible
				li
					h4
						a(href="#{ client.url }")= name
					| 
					small.db.i= client.date
					p= client.desc
.w-30-ns.w-100.fr-ns.pl2-ns
	h2 Education
	ul
		for details, school in education
			li.dib-p.mr2-p
				h4= school
				| 
				p= details.major
					small.db.i= details.time
	h2 Skills
	ul
		for skill in skills
			li.dib-p.mr2-p!= skill
	h2 Achievements
	ul
		for award in achievements
			li= award
	small References are available upon request.
